@import "tailwindcss";
@import "tw-animate-css";


@font-face {
  font-family: Poppins-Bold;
  src: url(../src/assets/fonts/Poppins-Bold.ttf);
  font-weight: 700;
  font-style: normal;
};
@font-face {
  font-family: Poppins-Regular;
  src: url(../src/assets/fonts/Poppins-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@theme {
  --color-primary: #00ADB5;
  --color-secondary: #222831;
  --color-dark: #393E46;
  --color-light: #EEEEEE;
  --font-poppins-Bold: "Poppins-Bold", sans-serif;
  --font-poppins-Regular: "Poppins-Regular", sans-serif; 
}
